fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pillow==11.1.0
numpy==1.26.4
scikit-learn==1.4.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
sqlalchemy==2.0.27
aiofiles==23.2.1
python-dotenv==1.0.1
--find-links https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch
torchvision
safetensors>=0.4.1
transformers>=4.36.0
opencv-python==4.9.0.80 